<div class="section section-presentation-page">
  <div class="parallax filter filter-color-green">
    <div class="image" style="background-image:url('assets/img/mentor.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <h1 class="title-modern">Mentee's Information</h1>
        <div class="separator">♦</div>
        <h3>Background Information</h3>
      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 3rem">
  <div class="container-fluid">
    <div class="row">
      <form>
        <div class="form-group">
          <label>Name(First and Last)</label>
          <input type="text" value="" class="form-control form-control-plain">
        </div>
        <div class="form-group">
          <label>Experience with Groovy</label>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">
              3 day bootcamp</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">Multi-week course</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">6 month course</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">Up to 1 year Experience at a job </label>
          </div>
        </div>
        <div class="form-group">
          <label>Libaries, Frameworks and Tools</label>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Grails</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Spring Boot</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Ratpack</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">VertX</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Spock</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Google Cloud Platform</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">AWS Deployments</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Cloud Foundry</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Heroku</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">IntelliJ</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Eclipse</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Netbeans</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Windows OS</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Mac OS</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Linux</label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Other:</label>
            <input type="text" value="" class="form-control form-control-plain">
          </div>
        </div>
        <div class="form-group">
          <label>In order to match you with the best mentor for you, please check the box for the languages you can communicate in at a professional level (B1)</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label"> English</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label"> French</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label"> Spanish</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Other: </label>
            <input type="text" value="" class="form-control form-control-plain">
          </div>
        </div>
        <div class="form-group">
          <label>Time Zone</label>
          <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
        </div>
        <div class="form-group">
          <label>When do you normally work on your Groovy-related work (For example, only on Monday nights or every day except Tuesday)</label>
          <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
        </div>
        <div class="form-group">
          <label>Time you spend per week working on your project or doing Groovy classes/tutorials</label>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">
              <1 hour</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">1-3 hours</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">4-6 hours</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">7-10 hours</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio">
            <label class="form-check-label">Others</label>
            <input type="text" value="" class="form-control form-control-plain">
          </div>
        </div>
        <div class="form-group">
            <label>To start, the program will last for 6 weeks after which time you will be able to renew with the same student or get
              a new student to mentor. When can you start the first 6 week mentorship?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Immediately</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">Jan 15</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">Feb 1</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">End of February</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">Others: </label>
              <input type="text" value="" class="form-control form-control-plain">
            </div>
          </div>
          <div class="form-group">
              <label>Do you have any special skills or areas of expertise that might be useful to know during the matching process? In particular, if you have a side project, business, or job using Groovy, what frameworks or other technologies does it use?</label>
              <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
            </div>
            <div class="form-group">
                <label>What are your goal(s) for the six-week program?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label"> Follow tutorials/books</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label"> Work on a project</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label"> Ask for help with a paid job</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">Start up a business </label>
                </div>
              </div>
              <div class="title-area">
                  <p class="description" style="text-align:justify;">A copy of your responses will be emailed to the address you provided</p>
                </div>
        <div class="button-signin" style="margin-bottom: 1rem">
          <a [routerLink]="['/mentee']">
            <button class="btn btn-danger btn-round " style="padding-left: 1em">
              Back
            </button>
          </a>
          <button class="btn btn-danger btn-round btn-fill btn-wd">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>