<footer class="footer footer-color-black" data-color="black">
  <div class="container">
      <nav class="pull-left">
          <ul>
              <li>
                  <a href="#" target="_blank">Projects</a>
              </li>
              <li>
                  <a href="#" target="_blank">Jobs</a>
              </li>
          </ul>
      </nav>
      <div class="social-area pull-right">
          <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/CreativeTim">
              <i class="fa fa-facebook-square"></i>
          </a>
          <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/CreativeTim">
              <i class="fa fa-twitter"></i>
          </a>
              <a class="btn btn-social btn-pinterest btn-simple" href="https://www.instagram.com/CreativeTimOfficial">
              <i class="fa fa-instagram"></i>
          </a>
      </div>
      <div class="copyright">
          &copy; <script>document.write(new Date().getFullYear())</script>  GR8DI
      </div>
  </div>
</footer>
