<div class="section section-presentation-page">
  <div class="parallax filter filter-color-green">
    <div class="image" style="background-image:url('assets/img/mentor.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <h1 class="title-modern">Mentor's Detail</h1>
        <div class="separator">♦</div>
        <h3>Matching</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h2 class="text-white">Questons use to match the best students</h2>
      <div class="separator separator-danger">✻</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <form>
      <div class="form-group">
        <label>In order to help students in the language they are most confortable speaking,please check the box for the languages
          you can communicate fluently</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label"> English</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label"> French</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label">Other: </label>
          <input type="text" value="" class="form-control form-control-plain">
        </div>
      </div>
      <div class="form-group">
        <label>Time Zone</label>
        <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
      </div>
      <div class="form-group">
        <label>General Avalaibily(For example, only on Monday nights mor any day excepts Tuesday)</label>
        <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
      </div>
      <div class="form-group">
        <label>Time you can commit per week</label>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">
            <1 hour</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">1-3 hours</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">4-6 hours</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">7-10 hours</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Others: </label>
          <input type="text" value="" class="form-control form-control-plain">
        </div>
      </div>
      <div class="form-group">
        <label>To start, the program will last for 6 weeks after which time you will be able to renew with the same student or get
          a new student to mentor. When can you start the first 6 week mentorship?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">
            Immediately</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Jan 2</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Jan 15</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Feb 1</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio">
          <label class="form-check-label">Others: </label>
          <input type="text" value="" class="form-control form-control-plain">
        </div>
      </div>
      <div class="form-group">
        <label>If you have been part of a mentorship program before, please list the name of the program and the age range of the students (for example <10, 12-15, 16-18, >18)</label>
        <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
      </div>
      <div class="form-group">
          <label>Do you have any special skills or areas of expertise that might be useful to know during the matching process</label>
          <input type="text" value="" placeholder="Your answer" class="form-control form-control-plain">
        </div>
        <div class="title-area">
            <p class="description" style="text-align:justify;">A copy of your responses will be emailed to the address you provided</p>
          </div>
          <div class="button-signin" style="margin-bottom: 1rem">
              <a [routerLink]="['/mentorpage1']"><button class="btn btn-danger btn-round" style="padding-left: 1em">
                Back
              </button></a>
              <button class="btn btn-danger btn-round btn-fill btn-wd">
                Submit
              </button>
            </div>
    </form>
  </div>
</div>