<div class="section section-presentation-page">
    <div class="parallax filter filter-color-green">
        <div class="image" style="background-image:url('assets/img/events/cameroon/workshop_15.JPG')"> <!-- or 7 or 2?? -->
        </div>
        <div class="container">
            <div class="content">
                <h1 class="title-modern">Projects</h1>
                <div class="separator">♦</div>
                <h3>GR8DI fulfills its mission through the many projects organized by our wonderful network of volunteers.</h3>
            </div>
        </div>
    </div>
</div>


<div class="section section-we-do-presentation">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h2>Groovy School</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>Groovy School is a series of free weekly training session/workshops were-in attendees are taught the Groovy programming language and some of the tools/frameworks within the Groovy ecosystem. The entire series lasts 6 months and is suitable for people who have never written any code before. At the end of the series, attendees are grouped and assigned an open source project to solve a real world problem affecting the community, using the knowledge and skills that they have obtained during the training.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h2>Docs Translation</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>One of the struggles that many new groovy developers face is finding documentation in their native language.  The project to translate the Groovy docs into other languages (at first, French) will help many new developers get the assistance they need to become the skilled developers they want to be.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h2>Summer Internships</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>One way to help new people find Groovy is at the University level. The GR8DI Summer Internships program, is a two months internship program that helps University students learn and apply their knowledge of Groovy technologies by contributing to open source groovy projects.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h2>Conference Diversity Tickets</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>Sometimes individuals or companies support our cause to get more diverse attendees and speakers at conferences by donating tickets or funds to help pay for underrepresented individuals to attend these events.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="title-area">
                        <h2>Mentorship Program</h2>
                        <div class="separator separator-danger">✻</div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description">
                        <p>In conjunction with the Groovy school program, we are seeking volunteers to help mentor the students into becoming successful Groovy experts.  Mentors can expect to answer basic questions, recommend tutorials, blog posts, or books to help the student progress. They may also assist or code review side projects or business ideas for the students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
