<div class="section section-header section-header-small">
        <div class="parallax filter filter-color-green">
            <div class="image"
                style="background-image:url('assets/img/office-4.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <h1>Contact Us</h1>
                    <div class="separator">♦</div>
                    <h3 class="subtitle">Glad to Talk With You</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-we-do-presentation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>Subject</th>
                            <th>Name</th>
                            <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General Info</td>
                                <td>Jenn & Kraulain</td>
                                <td><a href="mailto:jenn@gr8di.com?Subject=General%20info" target="_top">jenn@gr8di.com</a>,<br/><a href="mailto:kraulain@gr8di.com?Subject=General%20info" target="_top">kraulain@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Groovy School</td>
                                <td>Kraulain</td>
                                <td><a href="mailto:kraulain@gr8di.com?Subject=General%20info" target="_top">kraulain@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Docs Translation</td>
                                <td>Kraulain</td>
                                <td><a href="mailto:kraulain@gr8di.com?Subject=General%20info" target="_top">kraulain@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Summer Internships</td>
                                <td>Kraulain</td>
                                <td><a href="mailto:kraulain@gr8di.com?Subject=General%20info" target="_top">kraulain@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Conference Diversity Tickets</td>
                                <td>Jenn</td>
                                <td><a href="mailto:jenn@gr8di.com?Subject=General%20info" target="_top">jenn@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Mentorship Program</td>
                                <td>Jenn</td>
                                <td><a href="mailto:jenn@gr8di.com?Subject=General%20info" target="_top">jenn@gr8di.com</a></td>
                            </tr>
                            <tr>
                                <td>Jobs</td>
                                <td>Jenn</td>
                                <td><a href="mailto:jenn@gr8di.com?Subject=General%20info" target="_top">jenn@gr8di.com</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
