<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Error Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
<section id="container">
  <div class="pic">
    <img src="gr8di-error.jpg" alt="gr8di_logo" height="194" width="233">
    <img src="image-error.png" alt="error_logo" height="96" width="248">
  </div>
  <div  class="text">
    <h1>SORRY!</h1>
    <p>The page you're looking for does not exist! </p>
  </div>
  <input type="button" class="button" value="Go Back">
</section>
</body>
</html>
