<app-head-bar></app-head-bar>

<div class="section section-presentation-page">
    <div class="parallax filter filter-color-red">
        <div class="image" style="background-image:url('assets/img/header-4.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <h1 class="title-modern">Groovy Diversity Initiative</h1>
                <div class="separator">♦</div>
                <h3>Building a more diverse and more inclusive Groovy community</h3>
            </div>
        </div>
    </div>
</div>


<div class="section section-we-do-presentation">
    <div class="container">
        <div class="container">
            <div class="title-area">
                <p class="description">The groovy diversity initiative is an organisation aimed at increasing diversity with the Apache Groovy programming language community.  Increasing diversity can mean many things.  Specifically, we hope to increase number of people from underrepresented minorities in our community including, but not limited to gender diversity, racial/ethnic diversity, and socioeconomic diversity.  The main ways in which we seek to increase diversity are:</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card card-plain" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-users"></i>
                        </div>
                        <h3>Education</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-plain center" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-box1"></i>
                        </div>
                        <h3>Job Opportunities</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-plain center" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-global"></i>
                        </div>
                        <h3>Networking</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-cards section-gray">
    <div class="title-area">
        <h2>History</h2>
        <div class="separator separator-danger">♦</div>
        <p class="description">GR8DI is an organization founded in 2017 by former GR8Ladies co-founder Jennifer Strater(aka codeJENNerator) and Kamwa Fosso Arcel Raulain (aka kraulain) of the University of Buea in Cameroon. In 2013, GR8Ladies was founded to support women in the Apache Groovy community, but as time passed, we wanted to move to a more open community that supports not just women but other underrepresented minorities as well. For a little background on GR8Ladies, please see the 2014 GR8Ladies Mission blog post.</p>
    </div>
</div>


<div class="section section-info section-info-presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="info-pricing">
                    <div class="icon">
                        <i class="pe-7s-exapnd2 icons-info text-danger"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">Fully Responsive Layout</h3>
                        <p class="text-description text-gray">The kit is designed to be mobile first. Every component and Example Page looks great on any screen size.</p>
                    </div>
                </div>
                <div class="info-pricing">
                    <div class="icon">
                        <i class="pe-7s-tools icons-info text-danger"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">HTML5 Powered by Bootstrap</h3>
                        <p class="text-description text-gray"><b>Gaia - Bootstrap Template</b> is built on top of Bootstrap. Get the benefits of the most powerful framework and the perks of amazing new design.</p>
                    </div>
                </div>
                <div class="info-pricing">
                    <div class="icon">
                        <i class="pe-7s-photo icons-info text-danger"></i>
                    </div>
                    <div class="text">
                        <h3 class="title-info">Built with sections</h3>
                        <p class="text-description text-gray">Want to prototype very fast? <b>Gaia Bootstrap Template</b> is made with sections that can be integrated very easy and look perfect together.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="image-container">
                    <img src="assets/img/iPad-hands.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-get-started">
    <div class="parallax filter filter-color-black">
        <div class="image" style="
             background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="title">
                <h2 class="text-white">Ready to grab this beautiful template?</h2>
                <div class="separator-container">
                    <div class="separator line-separator">♦</div>
                </div>
            </div>
            <div class="button-get-started">
                <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" target="_blank" class="btn btn-lg btn-white">Free Demo</a>
                <a href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro" target="_blank" class="btn btn-lg btn-danger btn-fill ">Buy now for $29</a>
            </div>
            <h5 class="text-white">Pay one time with:</h5>
            <i class="fa fa-cc-paypal fa-pay"></i>
            <i class="fa fa-cc-visa fa-pay"></i>
            <i class="fa fa-cc-mastercard fa-pay"></i>
            <i class="fa fa-cc-amex fa-pay"></i>
        </div>
    </div>
</div>

<app-foot-bar></app-foot-bar>