<app-head-bar></app-head-bar>

<div class="section section-presentation-page">
    <div class="parallax filter filter-color-green">
        <div class="image" style="background-image:url('assets/img/header-4.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <h1 class="title-modern">Groovy Diversity Initiative</h1>
                <div class="separator">♦</div>
                <h3>Building a more diverse and more inclusive Groovy community</h3>
            </div>
        </div>
    </div>
</div>


<div class="section section-we-do-presentation">
    <div class="container">
        <div class="container">
            <div class="title-area">
                <p class="description" style="text-align:justify;">The groovy diversity initiative is an organisation aimed at increasing diversity with the Apache Groovy programming language community.  Increasing diversity can mean many things.  Specifically, we hope to increase number of people from underrepresented minorities in our community including, but not limited to gender diversity, racial/ethnic diversity, and socioeconomic diversity.  The main ways in which we seek to increase diversity are:</p>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card card-plain" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-study" style="color:#2D9600;"></i>
                        </div>
                        <h3>Education</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-plain center" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-cash" style="color:#2D9600;"></i>
                        </div>
                        <h3>Job Opportunities</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-plain center" style="text-align: center;">
                        <div class="icon">
                            <i class="pe-7s-add-user" style="color:#2D9600;"></i>
                        </div>
                        <h3>Networking</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-cards section-gray">
    <div class="title-area">
        <h2>History</h2>
        <div class="separator separator-danger">♦</div>
        <p class="description" style="text-align:justify;">GR8DI is an organization founded in 2017 by former GR8Ladies co-founder Jennifer Strater(aka codeJENNerator) and Kamwa Fosso Arcel Raulain (aka kraulain) of the University of Buea in Cameroon. In 2013, GR8Ladies was founded to support women in the Apache Groovy community, but as time passed, we wanted to move to a more open community that supports not just women but other underrepresented minorities as well. For a little background on GR8Ladies, please see the <a href="https://jennstrater.blogspot.com/2014/03/gr8ladies-mission.html" style="color:#2D9600;">2014 GR8Ladies Mission</a> blog post.</p>
    </div>
</div>


<div class="section section-our-team">
        <div class="container">
            <div class="text-area">
                <div class="title-area">
                    <h2>Team</h2>
                    <div class="separator separator-danger">✻</div>    
                </div>
            </div>
            <div class="team">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../assets/img/faces/face_1.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Jenn</h3>
                                            <p class="small-text">Groovy developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-member card-plain">
                                    <div class="content">
                                        <div class="avatar avatar-danger">
                                            <img alt="..." class="img-circle" src="../assets/img/faces/face_4.jpg" />
                                        </div>
                                        <div class="description">
                                            <h3 class="big-text">Kraulain</h3>
                                            <p class="small-text">Groovy developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end team -->
        </div>
    </div>

<app-foot-bar></app-foot-bar>