<div class="section section-header section-header-small">
  <div class="parallax filter filter-color-green">
    <div class="image" style="background-image:url('assets/img/project-4.jpg')">
    </div>
    <div class="container">
      <div class="content">
        <h1>Job List Terms &amp; Conditions</h1>
      </div>
    </div>
  </div>
</div>

<div class="section section-we-do-presentation">
  <div class="container">
    <h3 style="text-align: center;">PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY
      <br>BEFORE SUBMITTING A JOB USING THE JOB FORM.</h3>
    <div class="title-area">
      <p class="description">
        <ol type="1" style="text-align: left;">
          <li>
            WHO WE ARE AND HOW TO CONTACT US
            <ol type="a">
              <li>The Site is operated by GR8DI (”We”, “Our” or “Us”). We are a non-profit community run organization. We are
                not a for-profit company and provide no goods or services.</li>
              <li>To contact us, please fill out our contact form or by sending an email to the appropriate topic manager listed
                on the contact page.</li>
            </ol>
          </li>
          <li>
            WHEN YOU ACCEPT THESE TERMS
            <ol type="a">
              <li>By using the form, you confirm that you accept these terms and that you agree to comply with them.</li>
              <li>If you do not agree to these terms, you must not submit data using this form.</li>
              <li>We recommend that you print a copy of these terms for future reference.</li>
            </ol>
          </li>
          <li>
            CHANGES TO THESE TERMS
            <ol type="a">
              <li>We amend these terms from time to time. Every time you wish to use the website, please check these terms to
                ensure you understand the terms that apply at that time. These terms were most recently updated on
                <b>19.08.2018</b>.</li>
            </ol>
          </li>
          <li>
            THE BASICS
            <ol type="a">
              <li>We process any personal data that you provide to us. By using the GR8DI website, you consent to such processing
                and you warrant that all data provided by you is accurate.</li>
              <li>We make no claims or promises that there will be applicants based on your submission to this site.</li>
              <li>We also do not interfere if you decide to hire someone who found your posting through this list. However, if
                you harass, fail to pay, or in any other way mistreat one of the underrepresented people in this group, you
                will be banned from posting here again. All claims of this will be investigated by the GR8DI governing board
                before a ban is put in place.</li>
            </ol>
          </li>
          <li>
            YOUR OBLIGATIONS
            <ol type="a">
              <li>
                It is your responsibility to ensure that:
                <ol type="i">
                  <li>The information submitted is complete and accurate.</li>
                  <li>You comply with all applicable laws.</li>
                  <li>We will not be responsible for any costs or losses you sustain or incur arising from someone referred to
                    you via this list.</li>
                </ol>
              </li>
              <li>
                We kindly ask that you do not:
                <ol type="i">
                  <li>Duplicate requests. Duplicate requests will not be sent out.</li>
                  <li>Post about false or unavailable vacancies. Do not submit jobs for the sale of products or services, either
                    relating to or unrelated to recruitment including, but not limited to, affiliate schemes, pyramid selling
                    schemes or any other so called 'business opportunity'.</li>
                  <li>Discriminate on grounds of sex, race, disability, or any other protected class in the country where you
                    operate and where the employees work. If We believe that an advertisement may be discriminatory we may
                    at our discretion either amend the advertisement or remove it from the list.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            RESPONSES TO ADVERTISEMENTS
            <ol type="a">
              <li>You agree to deal fairly and professionally with individuals who may respond to an advertisement you have posted
                and not do anything which may reflect poorly on us. You will indemnify us from and against any claim brought
                by an individual arising from your breach of this obligation or any other of these terms.</li>
              <li>We do not guarantee any response to your advertisement or that responses will be from individuals suitable
                for the job advertised. It is your responsibility to carry out such checks and procedures as are necessary
                to ensure that job seekers are suitable for the job advertised and have the required qualifications and personal
                characteristics.</li>
              <li>We reserve the right to amend some of the job details that you supply in order to optimise your advertisement.</li>
            </ol>
          </li>
          <li>
            DELETION OF JOB SEEKER DATA
            <ol type="a">
              <li>You agree to delete all job seeker Data if requested by the job seeker or after the satisfactory conclusion
                of your search for a suitable job seeker, whichever occurs first.</li>
            </ol>
          </li>
        </ol>
    </div>
  </div>
</div>